@charset "utf-8";
@import '../../node_modules/bulma/bulma.sass';

.mx1 {
  margin-left: 0rem;
  margin-right: 1rem;
}

.mx2 {
  margin-left: 0rem;
  margin-right: 2rem;
}

.mx3 {
  margin-left: 0rem;
  margin-right: 3rem;
}
